<style>
    body {
        background-image: url('/static/img/fundo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
</style>

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        {% load static %}
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Objex</title>
    
        <link rel="icon" type="image/png"
              href="{% static 'img/lupa.png' %}">
    
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4da6ff;">

        <a class="navbar-brand" href="/">
            <a class="navbar-brand" href="/">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/logo_objex.png"
                         alt="Objex"
                         width="150"
                         height="90">
                </a>
                
            </a>
        </a>
    
        <button class="navbar-toggler" type="button"
        data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
    
            <span class="navbar-toggler-icon"></span>
    
        </button>
    
        <ul class="navbar-nav">
    
            <li class="nav-item">
                <a class="nav-link text-white" href="/">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/cidade/">
                    Cidade
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/bairro/">
                    Bairro
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/instituicao/">
                    Instituição
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/setor/">
                    Setor
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/local/">
                    Local
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/pessoa/">
                    Pessoa
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/categoriaobjeto/">
                    Categoria
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/tipoobjeto/">
                    Tipo
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/statusobjeto/">
                    Status
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/objeto/">
                    Objetos
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/registroperda/">
                    Perdas
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/registroencontrado/">
                    Encontrados
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/evidencia/">
                    Evidências
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/comentario/">
                    Comentários
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/historicomovimentacao/">
                    Histórico
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" href="/admin/">
                    Administração
                </a>
            </li>

        </ul>
    
    </nav>
    <div class="container mt-5">
        <h2 class="mb-4">Tabela de Bairros</h2>
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Cidade</th>
                </tr>
            </thead>
    
            <tbody>
                {% for bairro in bairros %}
                <tr>
                    <td>{{ bairro.nome }}</td>
                    <td>{{ bairro.cidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
   

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>